@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
body {
	height: 100vh;
	font-family: 'Long Cang', cursive;
	background: #59afa5;

	width: 100vw;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
	margin-bottom: 30px;
}

.mainContent {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.cassette {
	text-align: center;
}

.playOptions {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	gap: 50px;
}

p {
	font-size: 2rem;
	font-weight: bold;
	position: relative;
}
h2 {
	position: relative;
}

.rectangle {
	box-shadow: -20px 20px 5px #397c73;
	width: 450px;
	height: 280px;
	background: #1a1a1a;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	z-index: -3;
	flex-wrap: wrap;
}
.inner-rectangle {
	position: relative;
	top: 20px;
	width: 350px;
	height: 180px;
	background: #cebaa1;
	border-radius: 5px;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
}

.title {
	text-align: center;
	border: 1px solid black;
	width: 100%;
	height: 30px;
	border-right: 0;
	border-left: 0;
}
.title h2 {
	display: flex;
	justify-content: flex-start;
	top: -15px;
	left: 10px;
}

.title p {
	top: -35px;
}

.ribon-container {
	position: relative;
	display: flex;
	align-items: center;
	top: 20px;
	width: 100%;
	height: 90px;
	background: #a25b23;
}
.box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	top: 1px;
	left: 60px;
	background: #272727;
	width: 230px;

	border-radius: 20px;
	border: 2px solid #cebaa1;
}
.cassette-body {
	position: relative;
	display: flex;
	justify-content: space-around;
	gap: 100px;
	align-items: center;
	flex-direction: row;
	width: 285px;
	border-bottom: 50px solid #000000;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 20px;
	top: 20px;
}
.squares {
	position: relative;
	top: 35px;
	height: 15px;
	width: 15px;
	border-radius: 5px;
	border: 3px solid #696969;
	background: #59afa5;
}

.tape-wheel {
	position: relative;
	width: 60px;
	height: 65px;
	border-radius: 50%;
	background: #59afa5;
	border: 4px solid #696b6b;
}
.tape {
	position: relative;
	top: 10px;
	width: 70px;
	height: 40px;
	border-radius: 10%;
	background: #696969;
	display: flex;
	justify-content: space-between;
	z-index: 0;
	overflow: hidden;
}
.teethBox {
	position: relative;
	border: 4px solid #272727;
	top: -3px;
	left: -3px;
	width: 60px;
	height: 64px;
	border-radius: 50%;
	transform: rotate(0);
}

.teeth:nth-child(1) {
	position: relative;
	width: 10px;
	height: 11px;
	top: 5px;
	background: #272727;
	transform: rotate(-25.08deg);
}
.teeth:nth-child(1) {
	position: relative;
	left: 10px;
	width: 10px;
	height: 11px;
	top: -0px;
	background: #272727;
	transform: rotate(-25.08deg);
}
.teeth:nth-child(2) {
	position: relative;
	left: 30px;
	top: -5px;
	width: 10px;
	height: 11px;
	background: #272727;
	transform: rotate(61.63deg);
}
.teeth:nth-child(3) {
	position: relative;
	left: 20px;
	width: 10px;
	height: 11px;
	top: 5px;
	background: #272727;
	transform: rotate(-25.08deg);
}

.teeth:nth-child(4) {
	position: relative;
	top: -15px;
	width: 10px;
	height: 11px;
	background: #272727;
	transform: rotate(61.63deg);
}

.tape-ribbon {
	position: relative;
	width: 40%;
	height: 100%;
	background: #623d18;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border: 1px solid black;
	border-left: 0;
	transform: translateX(-20px);
}
.tape-ribbon-two {
	position: relative;
	width: 40%;
	height: 100%;
	background: #623d18;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	border: 1px solid black;
	transform: translateX(20px);
	border-right: 0;
}

/** Info Control Area */

.infoControlContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	height: 250px;
}

.nowPlaying {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	line-height: 0px;
}

#backArrow {
	transform: rotate(180deg);
}
.playing {
	animation: spin-teeth 1.3s linear infinite;
}
.play {
	animation: slide 1.8s linear alternate infinite;
}
.play-two {
	animation: slide2 1.8s linear alternate-reverse infinite;
}

.dog {
	position: relative;
	z-index: -1;
	bottom: -90px;
	animation: slideUp 10s ease-in-out infinite;
	animation-delay: 40s;
}

@keyframes spin-teeth {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes slide {
	from {
		transform: translateX(10px);
	}
	to {
		transform: translateX(-5px);
	}
}
@keyframes slide2 {
	from {
		transform: translateX(10px);
	}
	to {
		transform: translateX(-5px);
	}
}

@keyframes slideUp {
	0%,
	100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-80px);
	}
}
